{% extends 'base_generic.html' %}

{% block title %}Articles - Journal du Dev{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="page-title">Articles</h1>
        <ul class="article-list">
            {% for article in articles %}
                <li class="article-item">
                    <a href="{% url 'article_detail' article.pk %}"><div class="article-image">
                        <img src="{{ article.image.url }}" alt="Article Image" class="article-img">

                    </div></a>
                    <div class="article-details">
                       <a href="{% url 'article_detail' article.pk %}" class="article-title">{{ article.titre }}</a>
                        <p class="article-content">{{ article.contenu|striptags|truncatewords:20|safe }}</p>
                        <p class="article-meta"><strong>Auteur:</strong> {{ article.auteur }}<br><strong>Date:</strong> {{ article.date_publication|date:"d M Y" }}</p>

                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
